.product__row {
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .product__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
}
